USE [master]
GO
/****** Object:  Database [RECIPTS]    Script Date: 27/12/2023 05:01:29 p. m. ******/
CREATE DATABASE [RECIPTS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RECIPTS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RECIPTS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RECIPTS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RECIPTS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RECIPTS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RECIPTS]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 27/12/2023 05:01:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Payments_Users_Date] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27/12/2023 05:01:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
/****** Object:  StoredProcedure [dbo].[AddPayment]    Script Date: 27/12/2023 05:01:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[AddPayment]
@UserID Int,
    @Description NVARCHAR(100),
    @Amount Int,
    @Date Date
AS
BEGIN
    INSERT INTO Payments(UserID,Description, Amount, Date)
    VALUES (@UserID,@Description, @Amount, @Date);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 27/12/2023 05:01:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUser]
    @Name NVARCHAR(100),
    @Email NVARCHAR(255),
    @Password NVARCHAR(255)
AS
BEGIN
    INSERT INTO Users (Name, Email, Password)
    VALUES (@Name, @Email, @Password);
END;
GO
/****** Object:  StoredProcedure [dbo].[DeletePaymentByID]    Script Date: 27/12/2023 05:01:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePaymentByID]
    @PaymentID INT
AS
BEGIN
    DELETE FROM Payments
    WHERE PaymentID = @PaymentID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllPayments]    Script Date: 27/12/2023 05:01:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllPayments]
AS
BEGIN
   SELECT PaymentID,Description, Amount, Date
    FROM Payments;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetPaymentsByUserID]    Script Date: 27/12/2023 05:01:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPaymentsByUserID]
    @UserID INT
AS
BEGIN
    SELECT p.PaymentID,p.Description, p.Amount, p.Date
    FROM Payments p
    WHERE p.UserID = @UserID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserIDByEmail]    Script Date: 27/12/2023 05:01:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserIDByEmail]
    @Email NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT UserID
    FROM Users
    WHERE Email = @Email;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 27/12/2023 05:01:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsers]
AS
BEGIN
    SELECT UserID, Name, Email
    FROM Users;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdatePayment]    Script Date: 27/12/2023 05:01:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePayment]
    @PaymentID INT,
    @Description NVARCHAR(255),
    @Amount DECIMAL(18, 2),
    @Date DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Payments
    SET
        Description = @Description,
        Amount = @Amount,
        Date = @Date
    WHERE PaymentID = @PaymentID;
END;
GO
/****** Object:  StoredProcedure [dbo].[ValidateUser]    Script Date: 27/12/2023 05:01:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidateUser]
    @Email NVARCHAR(255),
    @Password NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM Users
    WHERE Email = @Email AND Password = @Password;
END;
GO
USE [master]
GO
